*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Andika New Basic';
    color: #f2d1a8;
    border: none;
}
* a{
    color: #ebebeb;
    transition: .2s linear;
}
h1, h2, h3, h4, h5, h6{
    color: #ebebeb;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #353e55;
    width: 100%;
}
a{
    text-decoration: none;
}

.cuerpo{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.encabezado{
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 2px 2px rgba(90, 94, 94, .3);
    background-color: #6a2634;
}
    .titulo{
        padding: 5px;
        float: left;
    }
    .titulo h1{
        font-size: .8em;
        font-family: 'Andika New Basic';
        color: #ebebeb;
    }
    .menu{

        float: right;
    }
        .menu ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
        }
            .menu ul li{
                min-width: 70px;
                text-align: center;
                padding: 3px 7px;
                font-size: .75em;
                transition: .2s;
                box-shadow: 3px 3px #6a2634;
                border: 1px dashed #6a2634;
            }
                .menu ul li a{
                    color: #ebebeb;
                }
            .menu ul li:hover{
                background-color: #f2d1a8;
                transform: scale(1.05);
                border-radius: 5px;
                border: 1px dashed #ebebeb;
                box-shadow: 3px 3px #557669;
            }
                .menu ul li:hover a{
                    color: #557669;
                }
            
/* Estilo de la Portada*/
.portada{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    position: relative;
    background-image: url('../img/design1_image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 10px;
    position: relative;
    display: flex;
}

    button{
        position: absolute;
        width: 40px;
        max-width: 10%;
        height: 40px;
        max-height: 8%;
        right: 2%;
        bottom: 10%;
        background-color: #f2d1a8;
        border-radius: 50%;
        outline: none;
        border: 1px dashed #f2d1a8;
        box-shadow: none;
        z-index: 50;
    }   
        button a{
            margin: auto;
        }
            button span{
                color: #557669;
            }
        button:hover{
            transform: scale(1.1);
            background-color: #353e55; 
        }
        button:hover span{
            color: #ebebeb;
        }
    
/* Estilos del titulo de la seccion */
    .titulo-seccion{
        width: 100%;
        background-color: #6a2634;
        text-align: center;
        padding: 5px;
        margin: auto;
        margin-bottom: 0;
        bottom: 0;
        position: absolute;
    }
/* Estilos de la primera seccion */
    .titulo-seccion h2{
        color: #ebebeb;
        font-size: 1.1em;
    }

.seccion{
    width: 100%;
    height: 94vh;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Estilos de pagina index */
.sec-index#seccion1{
    display: grid;
    grid-template-columns: 40% 45%; /* repeat(2, 50%) */
}
        .caja-logo{
            width: 100%;
            max-width: 400px;
            margin: auto;
            border-radius: 50%;
            box-shadow: 3px 3px rgba(148, 57, 57, 0.6);
        }
            .caja-logo img{ 
                width: 100%;
                display: block;
            }
        .subsec-index{
            margin: auto;
            width: 700px;
            max-width: 90%;
            
        }
            .subsec-index#subseccion1 .articulos{
                background-color: #943939;
                border: 3px outset #5e8a78;
            }
            .subsec-index#subseccion1 .articulos h2{
                    text-align: center;
                    background-color: #353e55;
                    padding: 5px;
                    /* font-size: 1.2em; */
                }
                .subsec-index#subseccion1 .articulo{
                    width: 100%;
                    max-width: 400px;
                    margin: 8px auto;
                    padding: 5px;
                    border-top: 1px dashed #ebebeb;
                    border-bottom: 1px dashed #ebebeb;
                }
                    /* .subsec-index#subseccion1 .articulo h3{
                        font-size: 1em;
                        
                    } */
                    .subsec-index#subseccion1 .articulo p{
                        font-size: .8em;
                    }

/* Segunda seccion - index */
.sec-index#seccion2{
    display: inline-flex;
}
    .calendario{
        background-color: #943939;
        width: 700px;
        max-width: 90%;
        max-height: 90%;
        border: 3px outset #5e8a78;
        margin: auto;
        /* display: flex;
        flex-direction: column; */
    }
        .calendario h1{
            padding: 5px 20px; 
            background-color: #353e55;
            font-size: 1em;
            border-bottom: 2px outset #ebebeb;
        }
        .calendario h2{
            padding: 5px 20px;
            background-color: #353e55;
            text-align: right;
            font-size: 1em;
            font-weight: lighter;
            border-bottom: 1px outset #ebebeb;
        }
    /* Diseño de la tabla del calendario */
        table{
            text-align: center;
            width: 100%;
            font-size: .68em;
            margin: auto;
        }
            table tr th{
                padding: 1px;
                border: 1px dashed #943939;
                transition: .3s;
            }
            table .head{
                transition: .3s;
            }
                table:hover .head{
                    background-color: #f2d1a8;
                    border: 1px dashed #353e55;
                    transition: .5s linear;
                }
                table:hover .head th{
                    color: #557669;

                }
            table tr td{
                height: 10px;
                padding: 1px;
                border: 1px dashed #943939;
            }
                table tr td:hover{
                    color: #557669;
                    background-color: #f2d1a8;
                    border: 1px dashed #353e55;
                }



/* Estilos pagina about */
    /* Estilo de seccion1 - about */
.subsec-about{
    width: 1200px;
    max-width: 90%;
}
    .subsec-about#subseccion1 .articulos{
        background-color: #943939;
        border: 3px outset #5e8a78;
    }
    .subsec-about#subseccion1 .articulos h2{
            text-align: center;
            background-color: #353e55;
            padding: 5px;
            font-size: 1.2em;
        }
        .subsec-about#subseccion1 .articulo{
            width: 900px;
            max-width: 100%;
            margin: 20px auto;
            padding: 5px;
            border-top: 1px dashed #ebebeb;
            border-bottom: 1px dashed #ebebeb;
        }
            .subsec-about#subseccion1 .articulo h3{
                font-size: 1em;
                
            }
            .subsec-about#subseccion1 .articulo p{
                font-size: .78em;
            }

/* Estilos pagina contact */
    /* Estilo de seccion1 - contact */
.subsec-contact{
    width: 1200px;
    max-width: 90%;
}
    .subsec-contact#subseccion1 .articulos{
        background-color: #943939;
        border: 3px outset #5e8a78;
    }
    .subsec-contact#subseccion1 .articulos h2{
            text-align: center;
            background-color: #353e55;
            padding: 5px;
            font-size: 2em;
        }
        .subsec-contact#subseccion1 .articulo{
            width: 900px;
            max-width: 100%;
            margin: 20px auto;
            padding: 5px;
            border-top: 1px dashed #ebebeb;
            border-bottom: 1px dashed #ebebeb;
        }
            .subsec-contact#subseccion1 .articulo h3{
                font-size: 1.7em;
                
            }
            .subsec-contact#subseccion1 .articulo p{
                font-size: .8em;
            }
/* Estilos pagina rules */
    /* Estilo de seccion1 - rules */
.sec-rules{
    height: 100%;
    max-height: auto;
    padding: 50px 0;
}
    .subsec-rules{
        width: 1000px;
        max-width: 90%;
    }
        .subsec-rules article h1,h2,h3,h4,h5{
            font-family: 'Andika New Basic';
            text-align: center;
        }
        .subsec-rules article h2{
            font-weight: bold;
            font-size: 1.4em;
        }
        .subsec-rules article h3{
            font-size: 1.2em;
        }
        .subsec-rules article h4{
            font-size:1em;
        }
        .subsec-rules article ul{
            list-style-type: square;
            font-weight: bold;
        } 
            .subsec-rules article ul li{
                font-weight: lighter;
                margin-left: 30px;
            }
        .subsec-rules article ol{
            font-weight: bold;
        }
            .subsec-rules article ol li{
                font-weight: lighter;
                margin-left: 30px;
            }
                .subsec-rules article ol li ol{
                    list-style-type: georgian;
                }
        .subsec-rules article dl dt{
            font-weight: bold;
        }
        .subsec-rules article dl dd{
            font-weight: lighter;
        }
            .subsec-rules article dd, li{
                font-size: .9em;
            }
        
/* Estilos del pie de pagina */
footer{
    width: 100%;
    height: 10%;
    margin-bottom: 0;
    bottom: 0;
    border-top: 1px dashed #f2d1a8;
    background-color: #6a2634;
}

 /* Diseñon de la parte superior del pie de pagina */
    .parte1{
        width: 100%;
        margin: auto;
        position: relative;
    }
        .parte1 .columna{
            float: left;
            width: 50%;
            background-color: #353e55;
        }
            .parte1 .columna h1{
                padding: 2px;
                text-align: center;
                font-size: .8em;
                background-color: #6a2634;
            }
            .parte1 .fila{
                width: 300px;
                max-width: 90%;
                margin: 0 auto;
                padding: 5px;
            }
                .parte1 a{
                    font-size: .7em;
                }
                    .parte1 .fila span{
                        margin-right: 5px;
                    }
                .parte1 .fila b{
                    color: #f2d1a8;
                }
            .parte1 .fila:hover{
                background-color: #f2d1a8;
            }
                .parte1 .fila:hover a{
                    color: #557669;
                    font-weight: bold;
                    font-size: .75em;
                }
                .parte1 .fila:hover a{
                    color: #557669;
                    font-weight: bold;
                }
                    .parte1 .fila:hover span{
                        color: #557669;
                        font-size:em;
                    }
                        .parte1 .fila:hover b{
                            color: #557669;
                            font-weight: bold;
                        }   
    /* Diseño de parte inferior del pie de pagina */
    .parte2{
        width: 100%;
        text-align: center;
        border-top: 1px dashed #f2d1a8;
        position: relative;
        background-color: #6a2634;
        display: flex;
    }
        .parte2 a{
            color: #ebebeb;
        }
        .parte2 .columna{
            background-color: #6a2634;
            width: 100%;
            max-width: 674.5px;
            padding: 2px;
            display: inline-flex;
            font-size: .6em;
        }
            .parte2 .columna p{
                margin: auto;
                color: #ebebeb;
            }
        /* #copyright{
            float: right;
        } */
        #politica{
            /* float: left; */
            display: flex;
            justify-content: center;
        }
    