*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #003459;
}
a{
    text-decoration: none;
    color: black;
}
.encabezado{
    width: 100vw;
    max-width: 100%;
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 2px 2px rgba(90, 94, 94, .3);
}
    .titulo{
        padding: 10px;
        font-size: 1.5em;
    }
    .menu{
        max-width: 50%;
        margin: auto;
        /* background-color: rgba(255, 255, 255, .05); */
    }
        .menu ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
        }
            .menu ul li{
                min-width: 70px;
                text-align: center;
                padding: 5px 10px;
                font-size: .8em;
                transition: .3s;
            }
            .menu ul li:hover{
                background-color: rgb(2, 195, 154);
                transform: scale(1.05);
                border-radius: 5px;
            }

/* Estilo de la Portada*/
.portada{
    position: relative;
}
    .portada img{
        width: 100%;
        height: 100%;
    }
    button{
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 70%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border: none;
        outline: none;
        transition: .3s linear;  
    }
        button:hover{
            transform: scale(1.05);
        }

/* Estilos de la primera seccion */
.seccion{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}