*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    color: #f2d1a8;
    transition: .2s linear;
}
* a{
    color: #ebebeb;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #353e55;
}
a{
    text-decoration: none;
}
.encabezado{
    width: 100vw;
    max-width: 100%;
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* background-color: rgba(255, 255, 255, .1); */
    box-shadow: 2px 2px rgba(90, 94, 94, .3);
}
    .titulo{
        padding: 10px;
        font-size: 1.2em;
    }
    .menu{
        max-width: 50%;
        margin: auto;
        /* background-color: rgba(255, 255, 255, .05); */
    }
        .menu ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
        }
            .menu ul li{
                min-width: 70px;
                text-align: center;
                padding: 5px 10px;
                font-size: .8em;
                transition: .3s;
                box-shadow: none;
            }
            .menu ul li:hover{
                background-color: #f2d1a8;
                transform: scale(1.05);
                border-radius: 5px;
                border: 1px dashed #ebebeb;
                box-shadow: 2px 2px gray;
            }
                .menu ul li:hover a{
                    color: #557669;
                }
            
/* Estilo de la Portada*/
.portada{
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    max-height: 100%;
    position: relative;
    background-image: url('../img/design1_image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    /* .portada img{
        width: 100%;
        height: 100vh;
        max-height: 105%;
    } */

    /* button{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 80%;
        left: 80%;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        border: none;
        outline: none;
        transition: .3s linear; 
        font-family: 'East Sea Dokdo', cursive;
        font-size: 1.7em;    
        box-shadow: 3px 3px none;
    }   
        button a{
            transition: .3s linear;
        }
        button:hover{
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.5); 
            box-shadow: 2px 2px #303e27;           
        } */

/* Estilos de la primera seccion */
.seccion{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: auto;
    position: relative;
}
    .titulo-seccion{
        width: 100%;
        background-color: #028090;
        padding: 10px;
        text-align: center;
        font-size: 1.4em;
    }
        .titulo-seccion a{
            color: white;
        }
    .contenido{
        /* background-color: #c2c2c2; */
        width: 90%;
        height: 100%;
        max-height: 92.6vh;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }
        .contenido img{
            width: 100%;
            max-width: 30vw;
            margin: auto;
            margin-right: 10px;
            /* background-color: green; */
        }
        .subseccion{
            margin: auto;
            margin-left: 10px;
            width: 100%;
        }
            .eventos{
                background-color: #b36458;
                color: white;
                border: 1px outset #ebebeb;
            }
                .eventos h2{
                    padding: 5px;
                    text-align: center;
                    background-color: #028090;
                    font-size: 2.5em;
                    font-weight: lighter;
                    font-family: 'East Sea Dokdo', cursive;
                }
                .evento{
                    padding: 10px;
                }
                    .evento h3{
                        margin-bottom: 7px;
                    }
    
/* Segunda seccion */
#subseccion2{
    margin: auto;
}
    .calendario{
        background-color: #b36458;
        width: 100%;
        max-width: 600px;
        margin: auto;
        border: 2px outset #ebebeb;
    }
        .calendario h1{
            padding: 10px 20px; 
            background-color: #353e55;
            font-size: 1.2em;
            border-bottom: 2px outset #ebebeb;
        }
        .calendario h2{
            padding: 10px 20px;
            background-color: #353e55;
            /* color: #303e27; */
            text-align: right;
            font-size: 1.1em;
            border-bottom: 1px outset #ebebeb;
        }
    /* Diseño de la tabla del calendario */
        table{
            text-align: center;
            width: 100%;
            max-width: 1200px;
            margin: auto;
            font-size: .75em;
        }
            table tr th{
                padding: 10px;
                border: 1px dashed #b36458;
            }
                table:hover .head{
                    background-color: #e0e7b8;
                    border: 1px dashed #353e55;
                }
                table:hover .head th{
                    color: #353e55;

                }
            table tr td{
                padding: 5px;
                border: 1px dashed #b36458;
            }
                table tr td:hover{
                    color: #353e55;
                    background-color: #e0e7b8;
                    border: 1px dashed #353e55;
                }

/* Estilos del pie de pagina */
footer{
    width: 100%;
    background-color: red;
}
.fila:hover span{
    color: black;
}
    .parte1{
        width: 90%;
        margin: auto;
        /* display: inline-block; */
        background-color: blue;
    }
        .parte1 .columna{
            float: left;
            width: 33.3%;
        }
    .parte2{
        width: 100%;
        display: inline-block;

        background-color: green;
    }
        .parte2 .columna{
            float: left;
            width: 50%;
        }
        #politica{
            display: flex;
            justify-content: center;
        }